server:
  http_listen_port: {{ promtail_http_port }}
  grpc_listen_port: {{ promtail_grpc_port }}

positions:
  filename: {{ promtail_positions_filename }}

clients:
  - url: "{{ promtail_loki_url }}:{{ promtail_loki_port }}/loki/api/v1/push"

{% if promtail_scrape_configs != {} %}
{{ promtail_scrape_configs }}
{% endif %}
