[Unit]
Description=Promtail Service
After=network-online.target

[Service]
User={{ promtail_user }}
Group={{ promtail_groups[0] }}
Type=simple
ExecStart={{ promtail_install_dir }}/promtail -config.file={{ promtail_config_dir }}/promtail.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
